.galeria img {  
    height: 200px;
    width: 200px;
    background-color: azure;
    background-image: none;
  }
  .galeria {
    color: rgb(54, 34, 54);
    text-align: center;
    margin: auto;
    
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding:0 30px;
   
  }
  .ee{
   
    font-family:"Comic Sans MS";
  }
  footer{
    background-color:rgb(241, 211, 230);
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
 }
 
.nav{
  padding: 30px;
   background-color: rgb(241, 211, 230);
   opacity: 80%;
    display: flex;
    justify-content: right;}
    
    body{
      width: 80%;
      text-align: center;
     margin: auto;
      background-image: url(huge.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      
    }
    main{
      background-color:  #F7F5EB;;
      opacity: 90%;
    }

  
button{ 
  font-size: 16px;
  background-color:transparent;
  color: rgb(0, 4, 7);
  border:2px solid white;
  border-radius: 7px;} 
  